<div class="container">
    <div class="page-header">
        <h2 class="text-primary">Users</h2>
    </div>
    
    <div class="row loading-spinner" ng-hide="allUsers">
        <p class="text-center"><i class="fa fa-circle-o-notch fa-spin text-primary "></i></p>
        <h5 class="text-primary text-center">Loadin Users ...</h5>
    </div>

    <table id="userTable" st-table="displayedCollection" st-safe-src="allUsers" class="table table-striped" ng-show="allUsers">
        <thead>
            <tr>
                <th></th>
                <th st-sort="user_id">User ID</th>
                <th st-sort="name">Name</th>
                <th st-sort="email">Email</th>
                <th st-sort="login_type">Login Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td><img class="img-responsive img-thumbnail" width="50" height="50" ng-src="{{row.profile_image_url}}" alt="Profile Image"></td>
                <td><a ng-href="#user" ng-click="setUser(row);">{{row.user_id}}</a></td>
                <td>{{row.name}}</td>
                <td>{{row.email}}</td>
                <td>{{row.login_type}}</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td st-pagination="" st-items-by-page="5" colspan="4"></td>
                <td>
                   <button class="btn btn-block btn-primary" ng-click="sendPromotionalEmail();">
                        <i class="fa fa-paper-plane"></i> Promotional Email <i id="mailSpinner" class="fa fa-spinner fa-spin"></i>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
    
  
</div>